[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
flask-sqlalchemy-session = "*"
pyjwt = "==1.4.2"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
